<div class="confirm-container">
  <div class="">
    <h1 class="text-center">¡Gracias por registrarte!</h1>
    <h2 class="text-center">Tu cuenta ha sido registrada con éxito.</h2>

    <div class="img-container text-center">
      <img [src]="imgUrl" alt="confirm" />
    </div>

    <span class="my-3">Te hemos enviado un correo electrónico para que confirmes tu cuenta.</span>

    <span>
      Si no lo encuentras en tu bandeja de entrada, revisa tu carpeta de spam.
    </span>

  </div>
</div>
