<mat-card class="mt-5 mb-5">
  <mat-card-header class="row">
    <div class="col">
      <mat-card-title>Consultas</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </div>
    <div class="col text-end" *ngIf="hasPermission()">
      <button mat-mini-fab color="primary" aria-label="Open register pet" (click)="openDialog('0ms', '0ms')">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <table class="col-12" mat-table [dataSource]="consultations" matSort (matSortChange)="announceSortChange($event)">
      <ng-container matColumnDef="#">
        <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
        <th mat-cell *matCellDef="let element; let i=index">{{i+1}}</th>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de consulta</th>
        <th mat-cell *matCellDef="let element"> {{element.consultation_date | date: "yyyy-MM-dd"}} </th>
      </ng-container>
      <ng-container matColumnDef="pet">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mascota</th>
        <th mat-cell *matCellDef="let element">{{element.name}}</th>
      </ng-container>
      <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Dueño</th>
        <th mat-cell *matCellDef="let element">{{element.owner}}</th>
      </ng-container>
      <ng-container matColumnDef="medicines">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Medicamentos</th>
        <th mat-cell *matCellDef="let element">
          <mat-accordion *ngIf="element.medicines.length > 0">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Medicamentos usados
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p *ngFor="let medicine of element.medicines">{{medicine.tradename}}</p>
            </mat-expansion-panel>
          </mat-accordion>

          <p *ngIf="element.medicines.length === 0">
            No se usaron medicamentos
          </p>
        </th>
      </ng-container>
      <ng-container matColumnDef="products">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Productos</th>
        <th mat-cell *matCellDef="let element">
          <mat-accordion *ngIf="element.products.length > 0">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Productos comprados
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p *ngFor="let product of element.products">{{product.name}}</p>
            </mat-expansion-panel>
          </mat-accordion>
          <p *ngIf="element.products.length === 0">
            No se compraron productos
          </p>
        </th>
      </ng-container>
      <ng-container matColumnDef="services">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Servicios</th>
        <th mat-cell *matCellDef="let element" class="p-3">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Servicios dados
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p *ngFor="let service of element.services">{{service.name}}</p>
            </mat-expansion-panel>
          </mat-accordion>
        </th>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <th mat-cell *matCellDef="let element">
          <button mat-mini-fab (click)="editConsultation(element)" color="primary" aria-label="Editar personal">
            <mat-icon>edit</mat-icon>
          </button>
        </th>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of personal elements">

    </mat-paginator>
  </mat-card-content>
</mat-card>
